html

  head
    title MISSION BOND

  body
    div
      h1 Mission code name: "Bond Domestication"
      h2 Objective:
      p Finding a spouse for James Bond
      h2 Description:
      p James Bond has been a player on the dating market for many years. This mission requires a potential applicant to know James Bond from inside out, expect this mission to last a lifetime.

    div
      h2 Sign Up for this Mission

      form(name='register' action='/create' method='post')
        |First Name: &nbsp;
        input(type='text' name='firstName' required)
        &nbsp;
        |Last Name: &nbsp;
        input(type='text' name='lastName' required)
        &nbsp;
        br
        |Password: &nbsp;
        Input(type='text' name="password" required)
        |Email: &nbsp;
        input(type='text' name='email' required)
        br
        |Date of Birth: &nbsp;
        input(type='date' name="dob" required)#dob
        br
        button submit

    div
      h2 Log In

      form(name='login' action='/login' method='post')
      |Email
      input(type='text' name='email')
      |Password
      input(type='text' name='password')
