html
  head
    title MISSION BOND

  body
    div
      h2 Question 3

      p In the Casino Royale plot, James bond falls in love with an British accountant named Vesper Lynd. What James Bond did not know about her was

        form(name='ans3', action='/ans/3', method='post')
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Alex Dimitrios (held hostage by Quantum) and she was to reclaim the pin for the Cayman Island bank account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Steven Obanno (held hostage by Quantum) and she was to reclaim the pin for the Cayman Island bank account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Dominic Greene (held hostage by Quantum) and she was to reclaim the pin for the Swiss bank account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Edmun Slate (held hostage by Quantum) and she was to reclaim the pin for the Swiss bank account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=10)
          |Vesper Lynd is secretly invovled in a relationship with Yusef Kaibra (held hostage by Quantum) and she was to reclaim the pin for the Cayman Island bank Account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Alex Dimitrios (held hostage by Quantum) and she was to reclaim the pin for the Swiss bank account holding over $100 million.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Vesper Lynd is secretly involved in a relationship with Steven Obanno (held hostage by Quantum) and she was to reclaim the pin for the Swiss bank Account holding over $100 million.
          br
          button submit
