html
  head
    title MISSION BOND

  body
    div
      h2 Question 7

      p  

        form(name='ans7', action='/ans/7', method='post')
          input(class="question7" type='checkbox' name='ans' value=0)
          | 2
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 3
          br
          input(class="question7" type='checkbox' name='ans' value=4)
          | 4
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 5
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 6
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 7
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 8
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 9
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | 10 at least...
          br
          button submit
