html
  head
    title MISSION BOND

  body
    div
      h2 Question 7

      p All '00' status agents are issued a sidearm, James Bond is issued a weapon as well. He was issued a

        form(name='ans7', action='/ans/7', method='post')
          input(class="question7" type='checkbox' name='ans' value=0)
          | Glock 18
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | SIG P210
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | SIG-SAUER P226
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | Heckler and Koch USP compact
          br
          input(class="question7" type='checkbox' name='ans' value=10)
          | Walther PPK
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | Glock 17
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | Rohrbaugh R9
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | Beretta Cheetah
          br
          input(class="question7" type='checkbox' name='ans' value=0)
          | Heckler & Koch P7
          br
          button submit
