html
  head
    title MISSION BOND

  body
    div
      h2 Question 6

      p James Bond is quite charming with women. Starting from Daniel Craig's Casino Royale plot, how many women died after an intimate encounter with James Bond.

        form(name='ans6', action='/ans/6', method='post')
          input(class="question6" type='checkbox' name='ans' value=0)
          | 2
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 3
          br
          input(class="question6" type='checkbox' name='ans' value=10)
          | 4
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 5
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 6
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 7
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 8
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 9
          br
          input(class="question6" type='checkbox' name='ans' value=0)
          | 10 at least...
          br
          button submit
