html
  head
    title MISSION BOND

  body
    div
      h2 Question 9

      p James Bond like all people had parents who gave him a middle name, but throughout the history of James Bond, his complete name is rarely displayed. James Bond's complete name is

        form(name='ans9', action='/ans/9', method='post')
          input(class="question9" type='checkbox' name='ans' value=0)
          | James William Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Harrison Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Harold Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Wilson Bond
          br
          input(class="question9" type='checkbox' name='ans' value=10)
          | James Herbert Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Samuel Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Callum Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Henry Bond
          br
          input(class="question9" type='checkbox' name='ans' value=0)
          | James Sebastian Bond
          br
          button submit
