html
  head
    title MISSION BOND

  body
    div
      h2 Question 2

      p James bond started off (in Casino Royale) without a license to kill, in order for James Bond to claim his '00' status, he killed Dryden and Fisher for obvious reasons. Which of the following are the correct reasons?

        form(name='ans2', action='/ans2', method='post')
          input(class="question2" type='checkbox' name='ans' value=0)
          |Dryden was a corrupt section chief, which James Bond kills first to claim his '007' status. He then proceeds to kill Fisher, whom was the contact buying MI6 secrets from Dryden.
          br
          input(class="question2" type='checkbox' name='ans' value=0)
          |Dryden was the contact who was buying MI6 secrets, which James Bond kills first to claim his '007' status. He then proceeds to kill the corrupt section chief Fisher, selling MI6 secrets to Dryden.
          br
          input(class="question2" type='checkbox' name='ans' value=0)
          |Dryden was a corrupt section director, which James bond kills first to claim his '007' status. He then proceeds to kill Fisher, whom was the contact buying MI6 secrets from Dryden.
          br
          input(class="question2" type='checkbox' name='ans' value=0)
          |Dryden was a contact who was buying MI6 secrets, which James Bond kills first to claim his '007' status. He then proceeds to kill Fisher, who was a corrupt section director, selling MI6 secrets to Dryden.
          br
          input(class="question2" type='checkbox' name='ans' value=10)
          |James Bond kills Fisher first because he is the contact buying MI6 secrets. Then James Bond claims his '007' status after killing Dryden, a corrupt section chief selling MI6 secrets.
          br
          input(class="question2" type='checkbox' name='ans' value=0)
          |James Bond kills corrupt section chief Dryden first to claim his '007' status. He then proceeds to kill Fisher, the contact buying MI6 secrets.
          br
          button submit
