html
  head
    title MISSION BOND

  body
    div
      h2 Question 4

      p The fact that James Bond is a secret agent constantly on missions does not deter him from alcoholic beverages while on duty. During his time with and after Vesper Lynd, he develops a martini known as the "Vesper". The following are instructions and ingredients from which it is made

        form(name='ans4', action='/ans/4', method='post')
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three and a half measures of Gordon's, one of vodka, half a measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lemon peel.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three measures of Gordon's, one of vodka, half a measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lime peel.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three measures of Gordon's, one of vodka, one and a half measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lemon peel.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three measures of Gordon's, one and a half of vodka, one and a half measure of Kina Lillet. Stirred it very well until it's ice-cold, then add a large thin slice of lemon peel.
          br
          input(class="question3" type='checkbox' name='ans' value=10)
          |Three measures of Gordon's, one of vodka, half a measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lemon peel.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three measures of Gordon's, one of vodka, half a measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lime peel.
          br
          input(class="question3" type='checkbox' name='ans' value=0)
          |Three measures of Gordon's, one and a half of vodka, half a measure of Kina Lillet. Shake it very well until it's ice-cold, then add a large thin slice of lemon-peel.
          br
          button submit
