html
  head
    title MISSION BOND

  body
    div
      h2 Question 8

      p Although Daniel Craig's version of James bond plays Texas hold'em, the true card game of James Bond is

        form(name='ans8', action='/ans/8', method='post')
          input(class="question8" type='checkbox' name='ans' value=10)
          | Baccarat
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Spades
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Go Fish
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | 5 card
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Black Jack
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | English Phat
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Ruff and Honours
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Seven-card Stud High-Low
          br
          input(class="question8" type='checkbox' name='ans' value=0)
          | Razz
          br
          button submit
