html
  head
    title MISSION BOND

  body
    div
      h2 Question 10

      p James Bond would like to know if you are

        form(name='ans10', action='/ans/10', method='post')
          input(class="question10" type='checkbox' name='ans' value=9)
          | Female
          br
          input(class="question10" type='checkbox' name='ans' value=9)
          | Male
          br
          button submit
